@import url("../CSS/Design-Variables.css");

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--base-background);
}

body {
    color: var(--base-background);
    scroll-behavior: smooth;
}

.content-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

.margins {
    padding: 15px 15px;
}

h1 {font-size: 7.993rem}
h2 {font-size: var(--h2); font-family: "DM-Sans-Regular";}
h3 {font-size: var(--h3);}

/* HEADER SECTION */

.head-section {
    background-color: var(--blue);
    font-family: "DM-Sans-Regular";
}

.nav-parent, .navigations {
    display: flex;
}

.nav-parent {
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    align-items: center;
}

#Logo{
    width: 200px;
}

.navigations {
    gap: 70px;
    height: fit-content;

    a {
        color: var(--base-background);
        letter-spacing: 1px;
    }

}

/* -------- */

.main-contactUs {
    background-color: var(--blue);
    align-content: center;
    height: 50vh;
}

.contactUs-grid {
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 550px);
    grid-template-rows: 200px;
    justify-content: space-evenly;
}

.title-sect {
    align-self: center;
    line-height: 0.8;
    h1 {
        font-family: "Island";
    }

    p {
        font-family: "DM-Sans-Regular";
    }
}

.photo-arch {
    position: absolute;
    grid-column: 2;
    width: 550px;
    top: -100px;
    
}

.photo-arch > img {
    width: 100%;
    height: 100%;
    border-radius: 270px 270px 12px 12px;
    outline: 3px solid #fff;        
    outline-offset: 10px;   
}

.cope {
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-rows: 200px 200px 125px;
    justify-content: space-evenly;
    padding: 0 150px;
    align-content: center;
}

.cope p {
    grid-row: 1 / 4;
    align-self: center;
    color: #000;
    font-size: var(--h3);

    text-align: justify;
    font-family: "DM-Sans-Regular";
}

/* Contacts */

.contacts-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: 80px auto 50px;
    color: #000;
    gap: 10px 20px;
    font-family: "DM-Sans-Regular";
}

.contacts-grid h2 {
    grid-column: 1 / 6;
    align-content: center;
    text-align: center;
}

.cards {
    background-color: #f3f3f3;
    padding: 15px 10px;
    border-radius: 25px;
    text-align: center;
    box-shadow: rgba(54, 54, 54, 0.774) 0px 0px 10px -5px;
}

.cards > p{
    margin: 10px 0;
    padding: 10px 0;
    background-color: #dbdbdb;
    border-radius: 20px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.icons img {
    width: 25px;
}

/* ------ */

.ads-carousel, .carousel-parent {
    display: flex;
}

.carousel-parent {
    overflow: hidden;
}

.ads-carousel {
    margin-left: 0px;
    padding: 20px 0;
    justify-content: space-evenly;
    gap: 150px;
    animation: ads 20s linear infinite;
    padding-right: 150px;
}

@keyframes ads {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}

.ads-carousel img{
    width: 150px;
}

/* ------ */

footer {
    background-color: var(--darker-blue);
    font-family: "DM-Sans-Regular";
    padding: 20px 0;
}

.quick-links {
    display: flex;
    justify-content: center;
    gap: 100px;

    a {
        color: var(--base-background);
    }
}

.breakLine {
    margin: 20px auto;
    background-color: var(--base-background);
    height: 3px;
    width: 80%;
}

.cr {
   text-align: center;
}