@import url("../CSS/Design-Variables.css");

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--base-background);
}

body {
    color: var(--base-background);
    scroll-behavior: smooth;
}

h1 {font-size: var(--h1);}
h2 {font-size: var(--h2); font-family: "DM-Sans-Regular";}
h3 {font-size: var(--h3);}

/* HEADER SECTION */

.head-section {
    background-color: var(--dark-blue);
    font-family: "DM-Sans-Regular";
}

.nav-parent, .navigations {
    display: flex;
}

.nav-parent {
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
}

#Logo{
    width: 200px;
}

.navigations {
    gap: 70px;
    height: fit-content;

    a {
        color: var(--base-background);
        letter-spacing: 1px;
    }
}

/* ------------ */

.landing-title {
    height: 88vh;
    background-repeat: no-repeat;
    background-image: url("../Media/Gallery/Rectangle\ 41.png");
    background-size: cover;
    background-position: center center; 
    text-align: center;
    align-content: center;

}

.title-wrap {
    font-family: "DM-Sans-Regular";
    padding: 25px;
    margin: 0 auto;
    outline: 15px white solid;
    width: fit-content;

    h1 {
        font-size: 7.61rem;
        width: fit-content;
        font-family: "Candal";
        font-weight: 900;
    }

    p {
        font-size: 1.5rem;
    }
}

/* ------------------- */

.parent-grid-gal {
    margin: 50px 0;

    p {
        color: black;
    }
}

/* CHILD (SUBGRID) */
.child-grid-wrap{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-auto-rows: auto;
    justify-content: center;
    row-gap: 15px;
}
/* --------------------------- */

/* CHILD OF SUBGRID of a GRID PARENT */
.child-gal1 {
    display: grid;
    grid-template-columns: 150px repeat(3, 325px);
    grid-template-rows: repeat(3, 250px);
    gap: 15px;
    grid-row: 1;
    grid-column: 1 / 4;
}

.child-gal1 p {
    font-family: "DM-Sans-Regular";
    font-size: var(--h2);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    text-indent: 6rem;
    align-content: center;
    text-align: justify;
}

.img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-wrap:nth-of-type(1) {
    grid-column: 4;
}

.img-wrap:nth-of-type(2) {
    grid-column: 3 / 5;
}

.img-wrap:nth-of-type(3) {
    grid-column: 3;
    grid-row: 1 / 3;
}

.img-wrap:nth-of-type(4) {
    grid-column: 2;
    grid-row: 3;
}

.img-wrap:nth-of-type(5) {
    grid-column: 4;
    grid-row: 2;
}

.img-wrap:nth-of-type(6) {
    grid-column: 1;
    grid-row: 3;
}

/* ------------------------- */

.child-gal2 {
    display: grid;
    grid-template-columns: repeat(4, 281px);
    grid-template-rows: repeat(4, 215px);
    gap: 15px;
    grid-row: 2;
    grid-column: 1 / 4;
}

.child-gal2 > p {
    grid-column: 2 / 5;
    grid-row: 3;
    text-align: center;
    font-size: 5.61rem;
    font-family: "DM-Sans-Regular";
}

.child-gal2 > .img-wrap:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
}

.child-gal2 > .img-wrap:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1 / 3;
}

.child-gal2 > .img-wrap:nth-of-type(3) {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

.child-gal2 > .img-wrap:nth-of-type(4) {
    grid-column: 1;
    grid-row: 2;
}

.child-gal2 > .img-wrap:nth-of-type(6) {
    grid-column: 2 / 5;
    grid-row: 4;
}

.cave-subgrid {
    align-content: center;
    grid-column: 1;
    grid-row: 3 / 5;
}

/* ----------------------- */

.child-gal3 {
    display: grid;
    grid-template-columns: repeat(4, 281px);
    grid-template-rows: repeat(2, 215px);
    gap: 15px;
    grid-row: 3;
    grid-column: 1 / 4;
}

.child-gal3 > .img-wrap:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1 / 3;
}

.child-gal3 > .img-wrap:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1 / 3;
}

.child-gal3 > .img-wrap:nth-of-type(3) {
    grid-column: 3 / 5;
    grid-row: 1;
}

.grid-vert {
    gap: 15px;
    display: flex;
    grid-column: 3;
    grid-row: 2;
}


.child-gal3 > .img-wrap:nth-of-type(5) {
    grid-column: 4;
    grid-row: 2;
}

/* ----------------- */

.child-gal4 {
    display: grid;
    grid-template-columns: 412px 150px repeat(2, 281px);
    grid-template-rows: repeat(3, 250px);
    gap: 15px;
    grid-row: 4;
    grid-column: 1 / 4;
}

.child-gal4 > .img-wrap:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1 / 4;
}

.child-gal4 > .img-wrap:nth-of-type(2) {
    grid-column: 2 / 5;
    grid-row: 1;
}

.child-gal4 > .img-wrap:nth-of-type(3) {
    grid-column: 2;
    grid-row: 2;
}

.child-gal4 > .img-wrap:nth-of-type(4) {
    grid-column: 4;
    grid-row: 2 / 4;
}

.child-gal4 > .img-wrap:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 3;
}

.child-gal4 > .img-wrap:nth-of-type(6) {
    grid-column: 3;
    grid-row: 2;
}

/* ------ ADS ----- */

.ads-carousel, .carousel-parent {
    display: flex;
}

.carousel-parent {
    overflow: hidden;
}

.ads-carousel {
    margin-left: 0px;
    padding: 20px 0;
    justify-content: space-evenly;
    gap: 150px;
    animation: ads 20s linear infinite;
    padding-right: 150px;
}

@keyframes ads {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}

.ads-carousel img{
    width: 150px;
}

/* ---- FOOTER ---- */

footer {
    background-color: var(--darker-blue);
    font-family: "DM-Sans-Regular";
    padding: 20px 0;
}

.quick-links {
    display: flex;
    justify-content: center;
    gap: 100px;

    a {
        color: var(--base-background);
    }
}

.breakLine {
    margin: 20px auto;
    background-color: var(--base-background);
    height: 3px;
    width: 80%;
}

.cr {
   text-align: center;
}